<div class="select-group">
    <label for="{{id}}">{{label}}</label>
    <select id="{{id}}" name="{{name}}" class="main-select">
        {{#options}}
            <option value="{{value}}">{{text}}</option>
        {{/options}}
    </select>
</div>

<!--{{> common/select id="sido" label="시" name="sido" options=sidoOptions }}-->
<!--model.addAttribute("sidoOptions", List.of(
    Map.of("value", "", "text", "전체"),
    Map.of("value", "대전광역시", "text", "대전광역시")
));-->