{{> common/header}}

    <head>
        {{! CSS }}
        <link rel="stylesheet" href="/css/survey/survey-style.css">

        {{! NoUiSlider 라이브러리 참조 }}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider@15.7.0/dist/nouislider.min.css">
        <script src="https://cdn.jsdelivr.net/npm/nouislider@15.7.0/dist/nouislider.min.js"></script>
    </head>

    <body>