{{> survey/survey-header}}

<main class="main survey-page">
    <div class="background-overlay">
        <img src="/assets/images/room5.jpg" alt="배경이미지" class="bg-fade-img" />
    </div>

    <!-- 상단 타이틀 -->
    <h1 class="survey-title">선호하는 주변환경을 선택해주세요</h1>
    
    <form class="survey-form">
        <div class="env-table">
            <div class="env-row">
                <span class="env-label">소음</span>
                <label class="env-input-label"><input type="radio" name="noise" value="quiet" checked> 조용한 곳</label>
                <label class="env-input-label"><input type="radio" name="noise" value="none"> 상관 없음</label>
            </div>
            
            <div class="env-row">
                <span class="env-label">치안</span>
                <label class="env-input-label"><input type="radio" name="security" value="active" checked> 안전</label>
                <label class="env-input-label"><input type="radio" name="security" value="none"> 상관 없음</label>
            </div>

            <div class="env-row">
                <span class="env-label">재난/침수</span>
                <label class="env-input-label"><input type="radio" name="safety" value="safe" checked> 안전</label>
                <label class="env-input-label"><input type="radio" name="safety" value="none"> 상관 없음</label>
            </div>

            <div class="env-row">
                <span class="env-label">상권</span>
                <label class="env-input-label"><input type="radio" name="store" value="far" checked> 멀리</label>
                <label class="env-input-label"><input type="radio" name="store" value="near"> 가까이</label>
                <label class="env-input-label"><input type="radio" name="store" value="none"> 상관 없음</label>
            </div>
        </div>
    </form>

    <div class="survey-nav-cont">
        <button type="button" class="base-btn survey-nav-btn previous-btn" onclick="location.href='/survey/3'">&larr; Previous</button>
        <button type="button" class="base-btn survey-nav-btn next-btn">Done &rarr;</button>
    </div>

    <div class="side-nav">
        <button type="button" class="base-btn side-nav-btn" onclick="location.href='/'">처음으로</button>
    </div>
</main>

<script type="text/javascript" src="/js/survey/livingindex.js"></script>