<!-- 옵션 토글 -->
<div class="option-toggle-col">
    <div>
        <label for="elevator" class="option-label">엘리베이터</label>
        <label class="switch">
            <input type="checkbox" id="isElevator" name="isElevator">
            <span class="switch-slider"></span>
        </label>
    </div>
    <div>
        <label for="parking" class="option-label">주차</label>
        <label class="switch">
            <input type="checkbox" id="isParking" name="isParking">
            <span class="switch-slider"></span>
        </label>
    </div>
    <div>
        <label for="option" class="option-label">옵션 여부</label>
        <label class="switch">
            <input type="checkbox" id="hasOption" name="hasOption">
            <span class="switch-slider"></span>
        </label>
    </div>
</div>