<!doctype html>
<html lang="ko">
<head>
    <title>나만의 방, 나방</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/palette.css">
    <link rel="stylesheet" href="/css/home-style.css">
    <link rel="stylesheet" href="/css/survey-style.css">
    <link rel="stylesheet" href="/css/room-style.css">
    <link rel="stylesheet" href="/css/common-style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- 폰트 관련 -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap" rel="stylesheet" />
</head>
<body>
<header class="main-header">
    <div class="logo-title-row inria-sans-regular">
        <img class="logo-img" src="/assets/images/nabang-logo.png" alt="[Nabang logo missing]"/>
        <span class="home-logo-text">Nabang</span>
    </div>
</header>
