<div class="main-header">
    <div class="logo-title-row inria-sans-regular">
        <img class="logo-img" src="/assets/images/nabang-logo.png" alt="[Nabang logo missing]"/>
        <span class="home-logo-text">Nabang</span>
    </div>
</div>