<div id="roomRegisterModal" class="room-modal" style="display:none;">
    <div class="modal-content">
        <button id="reg-close-btn" class="close_btn" data-modal-close>&times;</button>

        <div style="display: flex">
            <!-- 이미지 추가 input -->
            <input type="file" id="file-input" accept="image/*" style="display: none">
            <!-- 이 버튼을 클릭하면 위에 이미지 추가 input의 click 이벤트로 연결 -->
            <div class="image-add-box" id="room-image-add-btn">
                <span class="image-add-icon">+</span>
            </div>

            <div id="image-cont" class="room-image-cont">
            </div>
        </div>

        <form id="registerRoomForm">
            <div class="form-left">
                <div class="form-group">
                    <label>주소</label>
                    <input type="text" name="address" value="" readonly/>
                </div>
                <div class="form-group">
                    <label>세부 주소</label>
                    <input type="text" name="detailAddress" value="" placeholder="상세주소 입력"/>
                </div>
                <div class="form-group">
                    <label>매물 유형</label>
                    <select name="type">
                        <option value="1">원룸</option>
                        <option value="2">투룸</option>
                        <option value="3">아파트</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>거래 유형</label>
                    <select name="dealType">
                        <option value="1">월세</option>
                        <option value="2">전세</option>
                        <option value="3">매매</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>보증금(전세)</label>
                    <input type="number" name="deposit" value=""/>
                </div>
                <div class="form-group">
                    <label>월세</label>
                    <input type="number" name="monthlyRent" value=""/>
                </div>
                <div class="form-group">
                    <label>방 크기(평)</label>
                    <input type="number" name="roomSize" value=""/>
                </div>
                <div class="form-group">
                    <label>층</label>
                    <input type="number" name="floor" value=""/>
                </div>
            </div>

            <div class="form-right">
                {{> common/detail-options-toggle}}
                <div class="form-group">
                    <label>설명</label>
                    <textarea name="description" placeholder="매물의 참고사항을 적어주세요" style="height: 125px"></textarea>
                </div>
                <button id="submit-btn" type="submit" class="register-btn">등록</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="/js/room/register-modal.js"></script>
