/*----- 색상 팔레트 -----*/
:root {
    --nb-black: #303030;
    --nb-orange: #d35834;
    --nb-blue: #268cff;
    --nb-green: #1ec28e;
    --nb-light-gray: #E0E0E0;
    --nb-dark-gray: #6C6C6C;
    --nb-white: #ffffff;
    --nb-transparent: rgba(0, 0, 0, 0.1);

    --nb-white-fg: var(--nb-white);
    --nb-black-fg: var(--nb-black);
}