{{> common/header}}

<head>
    <script src="https://cdn.jsdelivr.net/npm/ol@v10.6.0/dist/ol.js"></script>

    {{! CSS }}
    <link rel="stylesheet" href="/css/map/map.css">
    <link rel="stylesheet" href="/css/map/context-menu.css">
    <link rel="stylesheet" href="/css/room/room-modal.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v10.6.0/ol.css">
</head>

<body>
    <!-- 지도 -->
    <div id="map"></div>

    <!-- Modal 창 -->
    {{#roomData}}
        <!--    방 상세보기 모달 창    -->
        {{> room/info-modal}}
    {{/roomData}}

    <!--    방 등록하기 모달 창    -->
    {{> room/register-modal}}

    <!-- 컨텍스트 메뉴 -->
    <div id="context-menu" >
        <button id="detail-btn" class="context-menu-item">방 상세보기</button>
        <button id="add-btn" class="context-menu-item">방 등록하기</button>
    </div>

    {{! 좌하단 버튼 }}
    <div class="side-nav">
        <button class="base-btn side-nav-btn" onclick="location.href='/'">처음으로</button>
        <button class="base-btn side-nav-btn" onclick="location.href='/room/roomList'">방 목록</button>
    </div>

    <!-- 지도 하단 검색창 영역 -->
    <div class="map-search-box-wrap">
        <form class="map-search-box" onsubmit="return false;">
            <input id="address" type="text" placeholder="주소 입력" class="map-search-input" autocomplete="off" />
            <button id="btnSearch" type="button" class="map-search-btn">
                <span class="inria-sans-regular">검색</span>
            </button>
        </form>
    </div>
</body>

<script type="text/javascript" src="/js/map/map.js"></script>
<script type="text/javascript" src="/js/map/context-menu.js"></script>
