{{> common/header}}

<head>
    <link rel="stylesheet" href="/css/room/room-style.css">
</head>

<header>
    {{> common/title-logo}}
</header>

<main id="room-list-main" class="property-main-bg">
    <!-- 중앙 리스트 패널 -->
    <section class="property-list-panel">
    </section>

    <!-- 좌측 고정 버튼들 -->
    <div class="side-nav">
        <button class="base-btn side-nav-btn" onclick="location.href='/map'">지도</button>
        <button class="base-btn side-nav-btn" onclick="location.href='/'">처음으로</button>
    </div>

    {{> room/info-modal}}
</main>

<script type="text/javascript" src="/js/room/info-modal.js"></script>
<script type="text/javascript" src="/js/room/list.js"></script>

{{> common/footer}}