<div id="roomInfoModal" class="room-modal" style="display:none;">
    <div class="modal-content">
        <button id="info-close-btn" class="close_btn" data-modal-close>&times;</button>
        <div class="room-images">
            <div class="main-image">
                <img src="{{mainImageUrl}}" alt="대표 이미지" id="viewMainRoomImage"/>
            </div>
            <div class="thumb-images">
                {{#imageUrls}}
                    <img src="{{.}}" class="thumb-image"/>
                {{/imageUrls}}
            </div>
        </div>
        <form id="viewRoomForm">
            <div class="form-left">
                <div class="form-group">
                    <label>주소</label>
                    <input type="text" value="{{address}}" readonly/>
                </div>
                <div class="form-group">
                    <label>세부 주소</label>
                    <input type="text" value="{{addressDetail}}" readonly/>
                </div>
                <div class="form-group">
                    <label>매물 유형</label>
                    <input type="text" value="{{typeStr}}" readonly/>
                </div>
                <div class="form-group">
                    <label>거래 유형</label>
                    <input type="text" value="{{dealTypeStr}}" readonly/>
                </div>
                <div class="form-group">
                    <label>보증금(전세)</label>
                    <input type="text" value="{{deposit}}" readonly/>
                </div>
                <div class="form-group">
                    <label>월세</label>
                    <input type="text" value="{{monthlyRent}}" readonly/>
                </div>
                <div class="form-group">
                    <label>방 크기(평)</label>
                    <input type="text" value="{{roomSize}}" readonly/>
                </div>
                <div class="form-group">
                    <label>층</label>
                    <input type="text" value="{{totalFloor}}" readonly/>
                </div>
            </div>
            <div class="form-right">
                <div class="form-group switch-group">
                    <label>엘리베이터</label>
                    <input type="checkbox" disabled {{#hasElevator}}checked{{/hasElevator}}/>
                    <label>주차</label>
                    <input type="checkbox" disabled {{#hasParking}}checked{{/hasParking}}/>
                    <label>옵션 여부</label>
                    <input type="checkbox" disabled {{#hasOption}}checked{{/hasOption}}/>
                </div>
                <div class="form-group">
                    <label>설명</label>
                    <textarea rows="6" readonly>{{desc}}</textarea>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript" src="/js/room/room-info-modal.js"></script>